<%= form_with(model: pilgrim, local: true) do |form| %>
  <% if pilgrim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pilgrim.errors.count, "error") %> prohibited this pilgrim from being saved:</h2>

      <ul>
      <% pilgrim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :الأسم %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :رقم_الجوال %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :نوع_الحج %>
    <%= form.select :pilgrim_type, options_for_select(["مفرد", "قارن", "متمتع"])  %>
  </div>

  <div class="field">
    <%= form.label :رسوم_الحملة %>
    <%= form.select :price, options_for_select([500, 1000, 2000])  %>
  </div>

  <div class="field">
    <%= form.label :رسوم_الهدي %>
    <%= form.select :sheep, options_for_select([0, 400])  %>
  </div>

  <div class="field">
    <%= form.label :رسوم_دم %>
    <%= form.select :blood, options_for_select([0, 100])  %>
  </div>

  <div class="field">
    <%= form.label :تم_الدفع؟ %>
    <%= form.check_box :status %>
  </div>

  <div class="actions">
    <%= form.submit "تم" %>
  </div>
<% end %>
