<h4> اهلا <%= current_admin.first_name %> <%= current_admin.middle_name %> <%= current_admin.last_name %> </h4>
<%= link_to 'تسجيل الخروج', destroy_admin_session_path, method: :delete%>
|
<%= link_to 'تعديل حسابي', edit_admin_registration_path %>
<hr/>