<%= render 'nav_admin' %>


<p>
  <strong>الاسم:</strong>
  <%= @pilgrim.name %>
</p>

<p>
  <strong>رقم الجوال:</strong>
  <%= @pilgrim.phone %>
</p>

<p>
  <strong>نوع الحج:</strong>
  <%= @pilgrim.pilgrim_type %>
</p>

<p>
  <strong>رسوم الحملة:</strong>
  <%= @pilgrim.price %>
</p>

<p>
  <strong>رسوم الهدي:</strong>
  <%= @pilgrim.sheep %>
</p>

<p>
  <strong>رسوم دم:</strong>
  <%= @pilgrim.blood %>
</p>

<p>
  <strong>هل تم الدفع؟:</strong>
  <% if @pilgrim.status %>
  نعم
  <% else %>
  لا
  <% end %>

</p>

<p>
  <strong>المنشئ:</strong>
  <%= @pilgrim.admin.first_name %> <%= @pilgrim.admin.middle_name %> <%= @pilgrim.admin.last_name %>
</p>

<%= link_to 'تعديل', edit_pilgrim_path(@pilgrim) %> |
<%= link_to 'رجوع', pilgrims_path %>
